*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
}

header{
    background-color:  #E5E5E5;
    padding-top: 21px;
    margin-bottom: 119px;
    background-image: url('../img/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    nav ul{
        display: flex;
        flex-direction: row;
        margin-left: 35px;
        li{
            list-style: none;
            padding: 10px;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 19px;
            }
        }
    }
    h1{
        text-align: center;
        background-color: #C4C4C4;
        color: #005677;
        padding: 15px 0px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        letter-spacing: 6px;
    }
    div{
        text-align: center;
    }
    img{
        max-width: 200px;
        margin-bottom: 21px;
    }
}

section{
    max-width: 1250px;
    margin: 0 auto 30px auto;
    h2{
        font-family: 'Times New Roman', Times, serif;
        color: #005677;
        font-size: 20px;
        font-weight: 700;
        background-color: #C4C4C4;
        margin-bottom: 25px;
        padding: 6px 0px 7px 9px;
    }
    ul{
        padding-left: 50px;
        li{
            margin: 5px;
        }
    }
}

.personal span{
    font-style: italic;
    font-weight: bold;
}
.academica, .laboral{
    ul li{
        display: flex;
    }
    span{
        margin-right: 7px;
        font-weight: bold;
    }
}

footer{
    background-color: #005677;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 0px 9px 0px;
    p{
        color: #fff;
        margin-right: 15px;
    }
    i{
        margin: 0px 13px;
        color: #fff;
        background-color: transparent;
        font-size: 30px;
    }
}